<div class="bg-[#EBEBFA] flex justify-between">
  <div class="w-64 h-16 overflow-hidden">
    <img
      class="object-cover w-full h-full"
      src="https://i.pinimg.com/originals/c3/88/1d/c3881d388a8d2bf72550d0254d16f8bc.png"
      alt="G-SHOCK-brand-logo"
    />
  </div>
  <div class="w-1/3">
    <nav class="h-1/4 mt-2">
      <ul class="flex justify-around">
        <li class="p-3">Inicio</li>
        <li class="p-3">Historia</li>
        <li class="p-3">Colección</li>
        <li>
          <button
            class="bg-[#0051A1] text-white p-3 rounded-lg shadow-md hover:bg-blue-800"
          >
            Contacto
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div>
